<div class="courses-containers">
  <div class="courses-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Course List </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item
            *ngFor="let course of courses"
            (click)="selectCourse(course)"
          >
            <mat-subheader matLine>
              {{ course.title | titlecase }}
            </mat-subheader>
            <p matLine>{{ course.description }}</p>

            <button
              mat-icon-button
              color="warn"
              aria-label
              (click)="
                removeCourse(course.id); $event.stopImmediatePropagation()
              "
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="course-details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span *ngIf="selectedCourse?.id; else elseBlock">
            {{ selectedCourse.title | titlecase }}
          </span>
          <ng-template #elseBlock> Select a course </ng-template>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="selectedCourse">
        <pre> {{ selectedCourse | json }} </pre>
        <!-- COURSE FORM -->
        <button mat-stroked-button (click)="selectCourse(null)">Clear</button>
      </mat-card-content>
      <mat-card-actions>
        <!-- COURSE ACTIONS -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
