<mat-card>
  <mat-card-header>
    <mat-card-title> Course Outline </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- LESSON LIST -->
    <mat-list>
      <mat-list-item
        *ngFor="let lesson of courseLessons; let i = index"
        (click)="updateSelectedCourse(lesson)"
      >
        {{ i + 1 }} {{ lesson.title }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<!-- LESSON JSON DETAILS -->
<mat-card>
  <mat-card-content>
    <pre>{{ selectedLesson | json }}</pre>
  </mat-card-content>
</mat-card>
